{% extends "base.html" %}
{% block content %}
<div class="panel">
    <h1>Execution steps</h1>
    <form method="post">
        <div class="function">
            <h3>Refresh report dates (zacks.com)</h3>
            <button name="func" value="{{executor.ZACKS}}">Refresh</button>
        </div>
        <div class="function">
            <h3>Download new transcripts (seekingalpha.com)</h3>
            <button name="func" value="{{executor.EARNINGS_TRANSCRIPT}}">Download</button>
        </div>
        <div class="function">
            <h3>Calculate Henry tone</h3>
            <button name="func" value="{{executor.TONE_CALC}}">Calculate</button>
        </div>
    </form>
</div>

<!--{% if ret_code %}-->
<!--<h1>Result: {{ ret_code }}</h1>-->
<!--{% endif %}-->
<div class="panel">
    <h1>List of Zacks report dates and transcripts</h1>
    <table id="trs_table">
        <thead>
        <tr>
            <th>Ticker</th>
            <th>Next report date</th>
            <th>Url</th>
            <th>Order ID</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for tr in trs %}
        <tr>
            <td>{{ tr['ticker'] }}</td>
            <td>{{ tr['nextReportDate'] }}</td>
            <td>{% if tr['url']: %}<a href="{{ tr['url'] }}" target="_blank">Click for transcript!</a>{% endif %}</td>
            <td>{{ tr['pos_orderId'] }}</td>
            <td>{{ tr['pos_totalQuantity'] }}</td>
            <td>{{ tr['pos_action'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="panel">
    <h1>List of positions and orders</h1>
    <table id="positions_table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Ticker</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for pos in positions %}
        <tr>
            <td>{{ pos[1].orderId }}</td>
            <td>{{ pos[0].symbol }}</td>
            <td>{{ pos[1].totalQuantity }}</td>
            <td>{{ pos[1].action }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}