<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IB Manager</title>
    <style>
        body {
            margin: 0 auto;
            max-width: 50em;
            font-family: "Helvetica", "Arial", sans-serif;
            line-height: 1.5;
            padding: 4em 1em;
            color: #555;
        }
        h1,h2 {
            color: #333;
        }
        .function {
            margin: 10px;
            background: #eee;
            padding: 10px;
        }


    </style>
</head>
<body>
<h1>Execution steps</h1>
<div class="function-panel">
    <form method="post">
        <div class="function">
            <button name="func" value="{{executor.ZACKS}}">Refresh report dates (zacks.com)</button>
        </div>
        <div class="function">
            <button name="func" value="{{executor.EARNINGS_TRANSCRIPT}}">Download new transcripts (seekingalpha.com)
            </button>
        </div>
        <div class="function">
            <button name="func" value="{{executor.TONE_CALC}}">Calculate Henry tone</button>
        </div>
        <div class="function">
            <button name="func" value="{{executor.STRATEGY}}">Run IB strategy</button>
        </div>
    </form>
</div>
{% if ret_code %}
<h2>Result: {{ ret_code }}</h2>
{% endif %}
</body>
</html>