{% extends "base.html" %}
{% block content %}
<div class="panel">
    <h1>Executable signals</h1>
    <form method="post" action="{{ url_for('strategy') }}" class="strategy-form">
        {% for signal in signals %}
        <div class="form-item">
            <input type="checkbox" name="{{ signal.id }}"/>
            <span>{{ signal.direction }} {{ signal.value }} <b>{{ signal.ticker }}</b></span>
        </div>
        {% endfor %}
        <button type="submit">Run selected</button>
    </form>
</div>
{% endblock %}