{% extends "base.html" %}
{% block content %}
<div class="panel">
    <h1>Executable signals</h1>
    <form method="post" action="{{ url_for('strategy') }}" class="strategy-form">
        {% for signal in signals %}
        <div class="form-item">
            <input type="checkbox" name="{{ signal.id }}"/>
            <span>{{ signal.direction }} {{ signal.value }} <b>{{ signal.ticker }}</b></span>
        </div>
        {% endfor %}
        <button type="submit">Run selected</button>
    </form>
</div>
<script>
function focusOnElement(element_id) {
    location.href = "#";
    location.href = "#" + element_id;
}


</script>
<div class="panel">
    <div class="header-with-buttons">
        <h1>Previous and current transcripts</h1>
        <button onclick="focusOnElement('recent');">Scroll to recent tickers</button>
    </div>
    <table id="trs_table">
        <thead>
        <tr class="separated">
            <th rowspan="2">Ticker</th>
            <th colspan="2">Previous transcript</th>
            <th rowspan="2">Next zacks date</th>
            <th colspan="2">Current transcript</th>
        </tr>
        <tr class="separated">

            <th>Date</th>
            <th>Henry tone</th>

            <th>Date</th>
            <th>Henry tone</th>
        </tr>
        </thead>
        <tbody>
        {% for tr in dates %}
        {% if tr['recent'] %}
        <tr id="recent">
            {% else %}
        <tr>
            {% endif %}
            <td>{{ tr['ticker'] }}</td>
            {% if tr['previous_transcript'] %}
            <td>{{ tr['previous_transcript']['publishDate'] }}</td>
            <td>{{ tr['previous_transcript']['henry_tokens']['positiveCount'] }}/{{
                tr['previous_transcript']['henry_tokens']['negativeCount'] }} = <b>{{ tr['previous_transcript']['ratio']
                    }}</b></td>
            {% else %}
            <td/>
            <td/>
            {% endif %}
            <td>{{ tr['nextReportDate'] }}</td>
            {% if tr['current_transcript'] %}
            <td>{{ tr['current_transcript']['publishDate'] }}</td>
            <td>{{ tr['current_transcript']['henry_tokens']['positiveCount'] }}/{{
                tr['current_transcript']['henry_tokens']['negativeCount'] }} = <b>{{ tr['current_transcript']['ratio'] }}</b>
            </td>
            {% else %}
            <td/>
            <td/>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}